# Taiga's URLs - Variables to define where Taiga should be served
TAIGA_SCHEME=http  # serve Taiga using "http" or "https" (secured) connection
TAIGA_DOMAIN=localhost:8000  # Taiga's base URL
SUBPATH="" # it'll be appended to the TAIGA_DOMAIN (use either "" or a "/subpath")
WEBSOCKETS_SCHEME=ws  # events connection protocol (use either "ws" or "wss")

# Taiga's Secret Key - Variable to provide cryptographic signing
TAIGA_SECRET_KEY="gerar_chave_aleatoria"  # Please, change it to an unpredictable value!!

# Taiga's Database settings - Variables to create the Taiga database and connect to it
POSTGRES_DB="taiga"
POSTGRES_USER="taiga"  # user to connect to PostgreSQL
POSTGRES_PASSWORD="taiga"  # database user's password
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

# reCAPTCHA Google
CAPCHA_SITE_KEY="usar_chave_do_site"  # reCAPTCHA site key
CAPCHA_SECRET_KEY="usar_chave_secreta"  # reCAPTCHA secret key

# Limite de tentativas falhas de login por origem (vazio desliga; formato do DRF "<n>/<período>")
LOGIN_FAIL_RATE="5/minute"

# Taiga's SMTP settings - Variables to send Taiga's emails to the users
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend  # use an SMTP server or display the emails in the console (either "smtp" or "console")
EMAIL_HOST=smtp.gmail.com  # SMTP server address
EMAIL_PORT=587   # default SMTP port
EMAIL_HOST_USER=email@email.com # user to connect the SMTP server
EMAIL_HOST_PASSWORD='senha'  # SMTP user's password
DEFAULT_FROM_EMAIL=email_deafult_from  # default email address for the automated emails
# EMAIL_USE_TLS/EMAIL_USE_SSL are mutually exclusive (only set one of those to True)
EMAIL_USE_TLS=True  # use TLS (secure) connection with the SMTP server
EMAIL_USE_SSL=False  # use implicit TLS (secure) connection with the SMTP server

# Taiga's RabbitMQ settings - Variables to leave messages for the realtime and asynchronous events
RABBITMQ_USER=taiga  # user to connect to RabbitMQ
RABBITMQ_PASS=taiga  # RabbitMQ user's password
RABBITMQ_VHOST=taiga  # RabbitMQ container name
RABBITMQ_HOST=localhost
RABBITMQ_ERLANG_COOKIE=secret-erlang-cookie-for-tadt  # unique value shared by any connected instance of RabbitMQ

EVENTS_PUSH_BACKEND_URL=amqp://taiga:taiga@localhost:5672/taiga-async-rabbitmq
CELERY_BROKER_URL=amqp://taiga:taiga@localhost:5672/taiga-async-rabbitmq

# TRELLO IMPORTER
ENABLE_TRELLO_IMPORTER='True'
TRELLO_IMPORTER_API_KEY="taiga"
TRELLO_IMPORTER_SECRET_KEY="taiga"


#LDAPCREDENTIALS
#TLSTRUESELDAPS,TLSFALSESELDAP
LDAP_TLS='true | false'
LDAP_SERVERS=['']
LDAP_BIND_DN=''
LDAP_BIND_PASSWORD=''
LDAP_BASE_DN=''
LDAP_BASE_SEARCH=''

#JWTTOKEN
JWT_SECRETKEY='gear_chave_aleatoria'
JWT_ALGORITHM='HS256'

# Taiga's Attachments - Variable to define how long the attachments will be accesible
ATTACHMENTS_MAX_AGE=360  # token expiration date (in seconds)

# Taiga's Telemetry - Variable to enable or disable the anonymous telemetry
ENABLE_TELEMETRY=False

            
            
