.*.sw*
.#*
*.log
taiga/search
venv_taiga11
settings/local.py
settings/celery_local.py
database.sqlite
logs
media
static
!taiga/base/static
*.pyc
*.mo
.venv
.coverage
.cache
.\#*
.project
.idea
.env
.envrc
.direnv
celerybeat-schedule
dockerdb/data/
.codegpt
.taiga
.amazonq
dockerdb/rabbitmq/
.vscode/settings.json

### Testes automatizados com cypress ###
*.mp4
techdocs/testes-automatizados/cypress/fixtures/usuarios.json
techdocs/testes-automatizados/cypress/fixtures/tokens.json
techdocs/testes-automatizados/node_modules
techdocs/testes-automatizados/cypress/downloads
techdocs/testes-automatizados/cypress/report
techdocs/testes-automatizados/cypress/screenshots


